/* TODO: manage global styling with NextUI */
html,
body,
#__next,
div[data-overlay-container="true"] {
  min-height: 100%;
}

/* Fix Nextui button text showing through nav bug https://github.com/nextui-org/nextui/issues/724 */
.nextui-button-text {
  z-index: 0 !important;
}

input {
  font-weight: 500;
}

@keyframes toast {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
